# Données
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Environnement Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env
build/
dist/

# Ancien scrips
src\train_all.py
# MLFlow & Logs
mlruns/
mlflow_logs/
.pytest_cache/

# OS
Thumbs.db
Desktop.ini
.DS_Store